@font-face {
    font-family: 'ClickerScript';
    src:url('./font/ClickerScript-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    src:url('./font/Montserrat-Regular.ttf') format('truetype'),
        url('./font/Montserrat-Bold.ttf') format('truetype'),
}


body {
    margin: 30px auto;
    width: 980px;
    color:#333;
    background: #323232;
    font-size:12px;
    font-family: 'Montserrat','Helvetica', 'Arial', 'Sans-Serif';
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

nav {
    border-bottom: 1px solid #eee;
}

h2 {
    font-size: 1.3em;
    color:#C33;
    font-weight: bold;
    font-family: 'Trebuchet MS','Helvetica', 'Arial', 'Sans-Serif';
    text-transform: uppercase;
    margin: 20px 0px;
    text-align: center;=
}

a {
    text-decoration: none;
    color: #333;
}
a:focus,a:hover {
    text-decoration: none;
}

p {
    line-height: 1.8em;
    color：#222；
    font-family:  'Arial', 'Sans-Serif';
}

blockquote > p {
    font-style: italic;
    font-size:12px;
    color:#999;
}

pre {
    border:none;
    font-family: 'Consolas','monospace';

}

i {
    margin-top:10px;
    display: inline-block;
    font-family: 'Trebuchet MS','Helvetica', 'Arial';
    color:#000;
}

footer {
    border-top: 1px solid #eee;
}

.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background:none;
    color:#C33;
}

.wrapper {
    border:1px solid #181818;
    background: #fff;
}

#mylogo {
    font-size:50px;
    font-weight:800;
    font-family: 'ClickerScript','Helvetica', 'Arial', 'Sans-Serif';
    display: inline-block;
    margin:20px 30px 10px 30px;

}

#mylogo:hover {
    color:#222;
}

.cover {
    position: relative;
}

.codeWrapper {
    position: absolute;
    top:400px;
    left:100px;
}

.author {
    padding-left:70px;
    font-weight: bold;
}


ul.content {
    margin:40px 30px 20px 30px;
    
} 
ul.content li a {
    border:1px solid transparent;
    color:#333;
    font-weight: 600;
    display: inline-block;
    font-family: 'Montserrat','Helvetica', 'Arial', 'Sans-Serif';
    font-size:1em;
}
ul.content li a:hover {
    color:#C33;
    border-bottom: 1px dashed #666;
    text-decoration: none;
}


.main {
    margin:10px 30px;
}
.main ul li {
    height: auto;
    border:1px solid transparent;
}


ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.post {
    margin:10px 60px 20px 60px;
}

.contact-me {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-me a {
    color:#888;
    font-size:.6em;
    font-family: 'Montserrat','Helvetica', 'Arial', 'Sans-Serif';
}
.contact-me a:hover {
    color:#444;
    border-bottom: 1px dashed #888;
    text-decoration: none;
}