extends ./layouts/default


block content
	nav
		a(href='/archive/post-list.html')#mylogo Yilia
			

	.cover
		
		img(src='/css/imgs/tree-sm.jpg' alt='HomePage').img-responsive
		.codeWrapper
			span.code
		
	link(rel="stylesheet", href="/css/typed.css")
	script(src='/js/typed.custom.js')
	script(src='/js/cover-code.js')
		