extends ../layouts/default
block scripts
	script(src="../public/libs/jquery/dist/jquery.min.js")
	script(src="../public/libs/bootstrap/dist/js/bootstrap.min.js")
	link(href="../public/libs/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
	link(href="../css/main.css", rel="stylesheet")

block content
	include ../layouts/nav
	.main.posts
		ul.nav.nav-pills.nav-stacked
	script(src='../js/post-list.js')
