doctype
html
	head
		meta(charset='utf-8')
		title Yilia
		link(href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css", rel="stylesheet")
		script(src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js")
		script(src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js")
		script.
			const loc = window.location.pathname.split('/')[1];
			const pathPre = (function(loc){
				if(!loc || loc =='index.html'||loc == 'about.html'){
					return '/';
				}else if(loc == 'archive'){
					return '../'
				} else if(loc == 'posts'){
				return '../../'
				}
			})(loc);
			function addCss(pathPre){
				const link ='<link href="'+pathPre+'css/main.css", rel="stylesheet">';
				$('head').append(link);
			}
			addCss(pathPre);

	body
		.wrapper
			block content
			footer
				ul.list-inline.contact-me
					li
						a(href="mailto:yilia.shaw@gmail.com") Gmail
					li
						a(href="https://github.com/yiliashaw/yiliashaw.github.io" target="_blank") Github