doctype
html
	head
		meta(charset='utf-8')
		title Yilia
		script(src="/public/libs/jquery/dist/jquery.min.js")
		script(src="/public/libs/bootstrap/dist/js/bootstrap.min.js")
		link(href="/public/libs/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
		link(href="/css/main.css", rel="stylesheet")
		

	body
		.wrapper
			block content
			footer
				ul.list-inline.contact-me
					li
						a(href="mailto:yilia.shaw@gmail.com") Gmail
					li
						a(href="https://github.com/yiliashaw/yiliashaw.github.io" target="_blank") Github