nav
	ul.content
		li
			a(href='#' onclick="location.href = location.origin  + '/index.html';return false;") Home
		li.active
			a(href='#' onclick="location.href = location.origin  + '/archive/post-list.html';return false;") Archive
		li
			a(href='#' onclick="location.href = location.origin  + '/about.html';return false;") About
			


	